{% extends "layout.html" %}
{% block content %}
<div class="body">
    <div class="table-body">
        <label for="year">Filter by year:</label>
        <select id="year">
            <option value="all">All</option>
            {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
        <table class="dataTable" id="dataTable">
            <thead class="table-head">
                <tr>
                    <th data-column="id">
                        ID <span class="sort-arrow"></span>
                    </th>
                    <th data-column="title">
                        Title <span class="sort-arrow"></span>
                    </th>
                    <th data-column="author">
                        PI <span class="sort-arrow"></span>
                    </th>
                    <th data-column="year">
                        Year <span class="sort-arrow"></span>
                    </th>
                </tr>
            </thead>
            <tbody class="table-body" id="deviceTableBody"></tbody>
        </table>
    </div>
</div>
<script>
    const dataFromFlask = {{ data | tojson }};
</script>
{% endblock content %}