{% extends "layout.html" %}
{% block content %}
<div class="body">
    <div class="table-body">
        <div class="table-toolbar">
            <div class="toolbar-filters">
                <input type="search" id="searchInput" class="table-search-input"
                    placeholder="Search">
                <label for="year" class="filterLabel">Filter by year:</label>
                <select id="year" class="table-filter-select">
                    <option value="all">All</option>
                    {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="pagination-controls">
                <label for="num-per-page" class="filterLabel">Items per page:</label>
                <select id="num-per-page">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <button id="prevPage" class="pageBtn">
                    <span aria-hidden="true">&larr;</span> Previous page
                </button>
                <span id="pageInfo">Page 1</span>
                <button id="nextPage" class="pageBtn">
                    Next page <span aria-hidden="true">&rarr;</span>
                </button>
            </div>
        </div>
        <table class="dataTable" id="dataTable">
            <thead class="table-head">
                <tr>
                    <th data-column="id">
                        ID <span class="sort-arrow"></span>
                    </th>
                    <th data-column="title">
                        Title <span class="sort-arrow"></span>
                    </th>
                    <th data-column="author">
                        PI <span class="sort-arrow"></span>
                    </th>
                    <th data-column="year">
                        Year <span class="sort-arrow"></span>
                    </th>
                </tr>
            </thead>
            <tbody class="table-body" id="deviceTableBody"></tbody>
        </table>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script> const dataFromFlask = {{ data | tojson }}; </script>
<script src="{{ url_for('static', filename='js/data.js') }}"></script>
{% endblock %}